<div class="container content-container">
    <div class="row content" id="bio-bg">
        <div>
            <h2 class="text-center ">Wenxuan's bio</h2>
            <p>Wenxuan is a graduate student at Purdue University. He earned a bachelor's degree in Computer Science from Zhejiang University, China in 2015.</p>
            <p>Wenxuan has years of experience in Software Developing, especially in web application and algorithm designing. He has domonstrated problem-solving and teamwork at work.</p>
            <p>Wenxuan will graduate from Purdue University at Dec. 2016, and looking for a full-time Software Developing job in 2017.</p>
        </div>
    </div>

    <div class="row content" id="exp-bg">
        <div id="exp" class="row">
            <h2>Experience</h2>
            <div class="exp-div">
                <br>time</br>
                <h3>Exp1</h3>
                <p>123</p>
            </div>
            <hr class="exp-hr"/>

            <div class="exp-div">
                <br>time</br>
                <h3>Exp2</h3>
                <p>123</p>
            </div>
            <hr class="exp-hr"/>

            <div class="exp-div">
                <br>time</br>
                <h3>Exp3</h3>
                <p>123</p>
            </div>
            <hr class="exp-hr"/>

            <div class="exp-div">
                <br>time</br>
                <h3>Exp4</h3>
                <p>123</p>
            </div>
        </div>
    </div>


    <div class="row content" id="edu-bg">
         <div class="edu-row">
             <h2>Education</h2>
             <div class="edu-div row">
                 <div class="col-sm-3 text-right">
                     <i class="fa fa-4x fa-graduation-cap"></i>
                 </div>
                 <div class="col-sm-9 edu-text">
                     <h3>Purdue University</h3>
                     <p>Master of Science in Industrial Engineering</p>
                     <b>2015-Current</b>

                 </div>
             </div>

             <div class="edu-div row">
                 <div class="col-sm-3 text-right">
                     <i class="fa fa-4x fa-graduation-cap"></i>
                 </div>
                 <div class="col-sm-9 edu-text">123</div>
             </div>
         </div>
    </div>

    <div class="row content" id="skill-bg">
        <div class="skill-row">
            <h2>Skill</h2>
            <div class="row">
                <span class="skill-item">Java</span>
                <span class="skill-item">Python</span>
                <span class="skill-item">JavaScript</span>
                <span class="skill-item">....</span>
            </div>
        </div>
    </div>

    <div class="row content" id="current">
        <div class="current-row">
            <h2>Current Project</h2>
        </div>
    </div>

</div>
