<div class="container content-container">
    <div class="row content" id="bio-bg">
        <div>
            <h2 class="text-center ">Wenxuan's bio</h2>
            <p>Wenxuan is a graduate student at Purdue University. He earned a bachelor's degree in Computer Science from Zhejiang University, China in 2015.</p>
            <p>Wenxuan has years of experience in Software Developing, especially in web application and algorithm designing. He has domonstrated problem-solving and teamwork at work.</p>
            <p>Wenxuan will graduate from Purdue University at Dec. 2016, and looking for a full-time Software Developing job in 2017.</p>
        </div>
    </div>
</div>
