<div class="container content-container row right-container">
    <div class="row content" id="bio-bg">
        <div>
            <h2 class="text-center ">Wenxuan's bio</h2>
            <p>Wenxuan is a graduate student at Purdue University. He earned a bachelor's degree in Computer Science from Zhejiang University, China in 2015.</p>
            <p>Wenxuan has years of experience in Software Developing, especially professionally in web application and algorithm designing. He has domonstrated problem-solving and teamwork at work.</p>
            <p>Wenxuan will graduate from Purdue University at Dec. 2016, and looking for a full-time Software Developing position in 2017.</p>
        </div>
    </div>

    <div class="row content" id="exp-bg">
        <div id="exp" class="row">
            <h2 class="row">Experience</h2>
            <div class="exp-div row">
                <br>May 2016 -- Current</br>
                <h3><a class="exp-link" href="http://www.characterinventory.org/">Character Inventory</a></h3>
                <div>
                    <ul>
                        <li>Optimize database queries, increase maximum number of concurrrent users by 50 times at least. </li>
                        <li>Enhance server security by using prepared queries, which prevent SQL injections.</li>
                        <li>Use dynamic salt to encode password, which ensures security of users’ information.</li>
                        <li>Using Bootstrap to make pages friendly to smartphone users.</li>
                        <li>Using D3js to visualize interactive graph, which displays data intuitively.</li>
                    </ul>
                </div>
            </div>
            <hr class="exp-hr row"/>

            <div class="exp-div row">
                <br>Apr. 2015 – May 2015</br>
                <h3>Purdue web developing marathon techical judge</h3>
                <div>
                    <ul>
                        <li>Enhanced online Q&amp;A system using ajax to accomplish real time communication.</li>
                        <li>Evaluated more than 50 competitors code and give feedback timely to keep conpetitors engaged constantly.</li>
                    </ul>
                </div>
            </div>
            <hr class="exp-hr row"/>


            <div class="exp-div row">
                <br>Feb. 2014</br>
                <h3>2014 MCM/ICM honorable memtion</h3>
                <div>
                    <ul>
                        <li>Designed and developed highway speed limit vurses accident rate model.</li>
                        <li>Use this model with bias involved to compute possible rate, and car passing through rate.</li>
                    </ul>
                </div>
            </div>
            <hr class="exp-hr row"/>
        </div>
    </div>


    <div class="row content" id="edu-bg">
         <div class="edu-row">
             <h2 class="row">Education</h2>
             <div class="edu-div row">
                 <div class="col-sm-3 col-xs-3 text-right">
                     <i class="fa fa-4x fa-graduation-cap"></i>
                 </div>
                 <div class="col-sm-9 col-xs-9 edu-text">
                     <h4>Purdue University, IN</h4>
                     <p>Master of Science in Industrial Engineering</p>
                     <b>2015-Current</b>
                 </div>
             </div>

             <div class="edu-div row">
                 <div class="col-sm-3 col-xs-3 text-right">
                     <i class="fa fa-4x fa-graduation-cap"></i>
                 </div>
                 <div class="col-sm-9 col-xs-9 edu-text">
                     <h4>Zhejiang University, China</h4>
                     <p>Bachelor of Science in Computer Science</p>
                     <b>2011-2015</b>
                 </div>
             </div>
         </div>
    </div>

    <div class="row content" id="skill-bg">
        <div class="skill-row">
            <h2 class="row">Skill</h2>
            <div class="row">
                <span class="skill-item">Java</span>
                <span class="skill-item">Python</span>
                <span class="skill-item">PHP</span>
                <span class="skill-item">JavaScript</span>
                <span class="skill-item">css3</span>
                <span class="skill-item">HTML5</span>
                <span class="skill-item">Bootstrap</span>
                <span class="skill-item">CodeIgniter</span>
                <span class="skill-item">D3js</span>
                <span class="skill-item">Jquery</span>
                <span class="skill-item">Numpy</span>
                <span class="skill-item">MySQL</span>
                <span class="skill-item">Git</span>
                <!-- <span class="skill-item">Bootstrap</span> -->

            </div>
        </div>
    </div>

    <div class="row content" id="project">
        <div class="current-row" style="width: 100%">
            <h2 class="row">Current Project on Hand</h2>

            <div class="row" style="width: 100%">
                <div class="list-group project-list row">
                  <a href="http://www.characterinventory.org" class=" list-group-item list-group-item-action project-item" style="width: 100%">
                    <h4 class="list-group-item-heading">Character Inventory</h4>
                    <p class="list-group-item-text">A survey website to collect data from users.</p>
                    <p class="list-group-item-text">@Purdue University</p>
                    <p class="list-group-item-text">finish soon</p>
                    <p class="list-group-item-text">www.characterinventory.org</p>
                  </a>
                  <a href="#" class=" list-group-item list-group-item-action project-item">
                    <h4 class="list-group-item-heading">niv_blog</h4>
                    <p class="list-group-item-text">Clean blog manage and display system based on Django. </p>
                    <p class="list-group-item-text">https://github.com/wenxuan-xia/niv_blog</p>
                  </a>
                </div>
            </div>
        </div>
    </div>

</div>
