{% load staticfiles %}

<div class="navbar navbar-inverse navbar-fixed-left">  <!-- start of side navigation-->
    <div class="image-container image-center">
        <img src="{% static 'img/portrait2.jpg' %}"></img>
        <h2 class="nav-text">Wenxuan Xia</h2>
        <span class="nav-text">Graduate Student @ Purdue University</span>
    </div>

    <nav class="text-center">
        <div class="list-group">
          <a href="#" class="nav-text list-group-item text-left actived">
            Bio
          </a>
          <a href="#" class="nav-text list-group-item text-left">Daaa</a>
          <a href="#" class="nav-text list-group-item text-left">bbbbb</a>
          <a href="#" class="nav-text list-group-item text-left">Pdddd</a>
          <a href="#" class="nav-text list-group-item text-left">Veqqs</a>
          <hr>
          <a href="./blog" class="nav-text list-group-item text-left">Blog</a>
        </div>
    </nav>


</div>  <!-- end of side navigation-->
