{% load staticfiles %}

<div class="navbar navbar-inverse navbar-fixed-left">  <!-- start of side navigation-->
    <div class="image-container image-center">
        <img src="{% static 'img/portrait2.jpg' %}"></img>
        <h2 class="nav-text">Wenxuan Xia</h2>
        <span class="nav-text">Graduate Student @ Purdue University</span>
    </div>

    <nav class="text-center">
        <div class="list-group">
          <a href="#" class="nav-text list-group-item text-left actived">
            Bio
          </a>
          <a href="#" class="nav-text list-group-item text-left">Exp<span class="nav-shrink">rience</span></a>
          <a href="#" class="nav-text list-group-item text-left">Edu<span class="nav-shrink">cation</span></a>
          <a href="#" class="nav-text list-group-item text-left">Skill</a>
          <a href="#" class="nav-text list-group-item text-left">
              <span class="nav-shrink">Current</span>
              Project
          </a>
          <hr>
          <a href="./blog" class="nav-text list-group-item text-left">
              <i class="fa fa-rss" aria-hidden="true"></i>
              <span class="nav-shrink">Blog</span>
          </a>
          <a href="./resume" class="nav-text list-group-item text-left">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span class="nav-shrink">Resume</span>
          </a>
          <a href="https://github.com/wenxuan-xia" class="nav-text list-group-item text-left">
              <i class="fa fa-github" aria-hidden="true"></i>
              <span class="nav-shrink">Keep thinking and coding</span>
          </a>
        </div>
    </nav>

</div>  <!-- end of side navigation-->
