/*navbar*/
.nav-text {
    color: #ffffff !important;
}

.list-group-item:hover {
    background-color: #555555 !important;
}

.list-group-item.actived {
    background-color: #aaaaaa !important;
}

@media screen and (max-width: 767px) {
    .nav-div {
        min-height: 400px !important;
    }

    .navbar {
        border: none;
        background-color: #444444;
    }

    .navbar-fixed-left {
      width: 100%;
      border-radius: 0;
      height: 300px;
    }

    .list-group {
        display: inline-flex;
        margin-bottom: 13px !important;
    }

    .list-group-item {
        margin-left: -5px;
        margin-right: -5px;
        font-size: 10px;
    }

    .nav-shrink {
        display: none;
    }
}


@media screen and (min-width: 768px) {
    .navbar {
        border: none;
        background-color: #444444;
    }

    .navbar-fixed-left {
      width: 270px;
      position: fixed;
      border-radius: 0;
      height: 100%;
    }

    .navbar-fixed-left + .container {
      padding-left: 285px;
    }

    .navbar > nav {
        margin-top: 20px;
    }

    .list-group-item {
        padding-left: 30px;
    }
}






nav {
    background-color: #444444;
}

nav > div {
    background-color: #444444 !important;
}

nav > div > a {
    background-color: #444444 !important;
    border: none !important;
    margin-left: 10px;
    color: #ffffff;
    font-family:sans-serif;
    font-weight: lighter;
}


.wrapper {
    padding: 0 15px;
}

.container {
    background-color: #ffffff;
    width: auto;
}

.image-container {
    /*float: left;*/
    width: inherit;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}

.image-container > img {
    width: 200px;
    border-radius: 5px;
}












/*content*/
.content {
    margin-left: 0px;
    display: flex;
}

@media (min-width: 1024px) {
    .content > div {
        padding-left: 20% !important;
        padding-right: 20% !important;
    }
}

.right-container {
    /*width: 100%;*/
    align-items: stretch;
}

#bio-bg {
    background-image: url(http://s3.amazonaws.com/branded.me/gallery/business/13.jpg);
    align-items: stretch;
    opacity: 0.9;
    width: 100%;
    margin-right: 0px;
}

#exp-bg {
    background-image: url(http://s3.amazonaws.com/branded.me/gallery/architecture/7.jpg);
    align-items: stretch;
    opacity: 0.9;
    width: 100%;
}

#exp {
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    color: white;
}

.exp-hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border-color: rgba(255, 255, 255, 0.5);
}

.exp-div > br {
    margin-top: 10px;
}
.exp-div > h3 {
    margin-top: 5px;
}

#edu-bg {
    background-color: rgba(233, 233, 233, 1);
    align-items: stretch;
    width: 100%;
}

.edu-row {
    width : 100%;
}
.edu-div {
    margin-top: 80px;
}

.edu-text {
    margin-top: -20px;
}

#edu-bg > div {
    width: 100%;
}

#edu-bg > div > div {
    height: auto;
}

#skill-bg {
    background-color: rgba(44, 44, 44, 1);
    align-items: stretch;
    opacity: 1;
    width: 100%;
}

.skill-row {
    width: 100%;
    background-color: rgba(44, 44, 44, 1) !important;
    color: white;
}

.skill-item {
    float: left;
    min-height: 20px;
    border: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.skill-item:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#project {
    width: 100%;
}


.project-item:hover {
    background-color: rgba(100, 100, 100, 0.5) !important;
}



.content > div{
    /*margin-left: -30;
    margin-right: -30;*/
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(255,255,255, 0.5);
}

.content > div > h2 {
    margin-bottom: 40px;
}

.content > div > p {
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}
