{% extends "Home/index.html" %}
{% block header %}
  {% include "otherPages/AboutMe.html" %}
{% endblock%}


{% block blogContainer %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h3><center>Wenxuan Xia</center></h3>
            <center>Seeking for 2016 Summer Intern Opportunity in Software Engineering</center>
            <p/>
            <h3>Current: </h3>
            <p>Purdue MSIE student</p>
            <p>Purdue RCODI innovation assistant (part time)</p>

            <h3>Resume </h3>
            <a href="/resume" style="color:blue">My Resume</a>

        </div>
    </div>
</div>

{% endblock %}
