<!-- Main Content -->
<div class="container">

</div>


<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for obj in blogs %}
            <div class="post-preview">
                <a href="../blog/articles/{{ obj.id }}">
                    <h2 class="post-title">
                        {{ obj.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ obj.abstract}}
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="#">{{ obj.author }}</a> {{ obj.createTime}}<span class="updateTime">updated: {{obj.updateTime}}</span></p>

            </div>
            <hr>
            {% endfor %}


        </div>
    </div>
</div>
